@media screen and (min-width:300px) and (max-width:600px){
    .map{
        margin-top: 50px;
        margin-left: 10%;
    display: flex;
    justify-content: center;
    width: 70%;
    }
    iframe{
        width: 100%;
    }
    
    .input2 {
        margin-left: 10%;
        
    }
    .input3{
        margin-left: 10%;
    }
    .input{
        margin-left: 10%;
        margin-top: 50px;
    }
    .input2 input{
        width: 80%;
        height: 60px;
        margin-top: 50px;
    }
    .input3{
        margin-top: 50px;
    }
    .input3 button{
        width: 150px;
        height: 50px;
        background-color:rgb(63, 172, 228);
        border:none;
        color: aliceblue;
        
    }
    .input3 button:hover{
        background-color: aliceblue;
        color:rgb(63, 172, 228)
    }
    
}
@media screen and (min-width:601px) and (max-width:992px){
    .map{
        margin-top: 50px;
        margin-left: 10%;
    display: flex;
    justify-content: center;
    width: 70%;
    }
    iframe{
        width: 100%;
    }
   
    .input2 {
        margin-left: 10%;
        
    }
    .input3{
        margin-left: 10%;
    }
    .input{
        margin-left: 10%;
        margin-top: 50px;
    }
    .input2 input{
        width: 300px;
        height: 60px;
        margin-top: 50px;
    }
    .input3{
        margin-top: 50px;
    }
    .input3 button{
        width: 150px;
        height: 50px;
        background-color:rgb(63, 172, 228);
        border:none;
        color: aliceblue;
        
    }
    .input3 button:hover{
        background-color: aliceblue;
        color:rgb(63, 172, 228)
    }
    

}
@media screen and (min-width:992px){
    
.map{
    margin-top: 50px;
    margin-left: 10%;
display: flex;
justify-content: center;
width: 70%;
}
iframe{
    width: 100%;
}
.all-2{
    display: flex;
}
.input2 {
    margin-left: 10%;
    
}
.input3{
    margin-left: 10%;
}
.input{
    margin-left: 10%;
    margin-top: 50px;
}
.input2 input{
    width: 300px;
    height: 60px;
    margin-top: 50px;
}
.input3{
    margin-top: 50px;
}
.input3 button{
    width: 150px;
    height: 50px;
    background-color:rgb(63, 172, 228);
    border:none;
    color: aliceblue;
    
}
.input3 button:hover{
    background-color: aliceblue;
    color:rgb(63, 172, 228)
}
}